body
{
    background-image: url(image.png);
    color: white;
}
h1
{
    text-align: center;
    text-decoration:underline;
}
h2
{
    margin-bottom:-10px;
}
aside
{
  width: 24%;                /* Fixe la largeur du aside à 80% de la largeur du parent */
  margin: 20px auto;         /* Centre l'aside horizontalement sur la page */
  padding: 5px;             /* Ajoute de l'espace intérieur entre le texte et la bordure */
  border: 2px solid white; /* Bordure bleue */
  border-radius: 8px;        /* Coins arrondis */       /* Coins arrondis */
  margin-left: 5px;
}
.section-1
{
  position: relative;          /* Définit un contexte de positionnement relatif pour les enfants */
  padding: 15px;               /* Ajoute du padding pour espacer le contenu des bords de la section */
  height: 200px;
  margin-top: -450px;
}
.section-1 h2
{
  position: absolute;          /* Positionne absolument l'élément h2 dans son conteneur */
  top: 0;                       /* Place le titre en haut du conteneur */
  left: 50%;                    /* Centre le titre horizontalement */
  transform: translateX(-50%);  /* Ajuste pour que le titre soit parfaitement centré */
  margin: 0;
}

.section-2
{
  text-align: center;          /* Définit un contexte de positionnement relatif pour les enfants */
  padding: 20px ;               /* Ajoute du padding pour espacer le contenu des bords de la section */
  height: 200px ;
}